{{define "game-end"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Partie finie !</title>
    </head>
    <body>
        <div class="navigation">
            <div class="lien">
                <div class="spaceLien"><a href="http://localhost:8000/">Menu</a></div>
                <div><a href="#"> Scoreboard</a></div>
            </div>
            <div class="logo">
                <div><a href="#"> /image/</a></div>
            </div>
        </div>
        <main>
            <h2>La partie est terminée !</h2>

            <div class="boite box_end">
                <div><h3>Résultat de la partie :</h3></div>
                {{if eq . "Egalité"}}
                <div>Dommage, il y a égalité pour cette partie !</div>
                {{else}}
                <div>Bravo {{.}}, tu as gagné !</div>
                {{end}}
            </div>
                
            <!-- Il faut que je vois comment on recupère les speudos et couleurs. -->
            <button type="button"><a href="/game/play">Rejouer</a></button>
        </main>
    </body>
</html>
{{end}}