{{define "game-play"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Partie puissance 4 en cours</title>
</head>
<body>
    <h2>SILENCE, partie en cours</h2>
    <p>Appuyez sur la flèche de la colonne où vous voulez placer votre pion. </p>
    <div class="div">
        <p>Joueur: </p>
        <p>Tour: </p>
        <p>Couleur: </p>
        <div>
            <p>grille</p>
        </div>
        <form action="/game/play/traitement" method="post" class="div">
            <div>
                <label for="colonne">Quelle colonne choisissez-vous ? </label>
                <select id="colonne" name="colonne">
                    <optgroup label="Numéros">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </optgroup>
                </select>
            </div>
        </form>
    </div>
</body>
</html>
{{end}}