{{define "menu"}}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Menu Principal</title>
    </head>

    <body>
        <header>

        </header>

        <main>
            <h1>Bienvenue dans Power'4 Web !</h1>

            <p>Déroulement :</p>

            <ul>
                <li>
                    Vous allez vous retrouver devant une grille composée de 7 colonnes et 6 lignes.
                </li>
                <li>
                    Vous devez placer un pion tour par tour.
                </li>
                <li>
                    Le but est d'être le premier à aligner 4 pions de sa couleur horizontalement, verticalement ou diagonalement.

                </li>
            </ul>

            <a href="/game/init"><h3>Démarrer une partie</h3></a>
        </main>

        <footer>

        </footer>
    </body>

</html>
{{end}}