@font-face {
    font-family: "Roboto";
    src: url("/static/fonts/Roboto-Regular.ttf");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    background-color: #525257;
}

.gameInit {
    background-color: #3a3a3a;
    color : white;
    padding: 15px;
}

.error {
    color: red;
}